<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic InApp Browser Native
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
<button ion-button full (click)="Open('http://www.google.com')">Google</button>
<button ion-button full (click)="Open('http://www.YouTube.com')">YouTube</button>
<button ion-button full (click)="Open('http://www.Facebook.com')">Facebook</button>
<p align="center"> OR </p>
<ion-input placeholder="type here.."type="text" [(ngModel)]="url"></ion-input>
<button ion-button full (click)="Open('http://'+url)">submit</button>
</ion-content>
